@import "../index.scss";

.hero-container {
  background-color: $primary-purple;
  height: 100vh;
  display: flex;
  align-items: center;
  padding: 0 120px;
  justify-content: space-around;
}

.hero-left {
  width: 50%;
  padding: 30px;
}

.hero-name {
  color: $lime-green;
  font-weight: 700;
  font-size: 48px;
}

.hero-intro {
  margin-top: 25px;
  color: $secondary-purple;
  font-size: 30px;
  width: 75%;
}
