@import "../App.scss";

.hero-container {
  height: 100vh;
  display: flex;
  align-items: center;
  padding: 0 120px;
  justify-content: space-around;
}

.hero-left {
  // width: 50%;
  padding: 30px;
}

.hero-name {
  color: black;
  font-weight: 700;
  font-size: 40px;
  letter-spacing: 2%;
}

.hero-intro {
  margin-top: 25px;
  color: $grey;
  font-size: 22px;
  width: 75%;
}
