@import "../App.scss";

.hero-container {
  height: 100vh;
  display: flex;
  align-items: center;
  padding: 0 120px;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1300px;
}

.hero-left {
  width: 70%;
  padding: 30px;
  opacity: 0;
}

.hero-name {
  color: black;
  font-weight: 700;
  font-size: 40px;
  letter-spacing: 1px;
}

.hero-intro {
  margin-top: 25px;
  color: $grey;
  font-size: 22px;
  width: 75%;
}

.svgProgrammer {
  opacity: 0;
}

.hero-CTA {
  margin-top: 25px;
}

@media screen and (max-width: 1000px) {
  .hero-container {
    display: block;
    height: 100vh;
  }
  .hero-left {
    width: 100%;
  }
  .hero-name {
    font-size: 30px;
  }
  .svgProgrammer {
    display: none;
    height: 0px;
  }
}
