@import "../App.scss";

.projects-container {
  display: flex;
  padding: 100px 170px 0px;
  justify-content: center;
}

.projects-card-title {
  margin-bottom: 10px;
}

.projects-card {
  width: 100%;
  max-width: 650px;
  margin-bottom: 50px;
}

.projects-info {
  margin-bottom: 10px;
}

.projects-stack {
  display: flex;
}

.stack-item {
  padding: 5px 15px;
  border: 2px solid $primary-blue;
  margin-right: 10px;
  border-radius: 5px;
}
