@import "../App.scss";

.projects-container {
  display: flex;
  padding: 0px 32px;
  justify-content: center;
  flex-direction: column;
}

.projects-card-title {
  margin-bottom: 10px;
}

.projects-card {
  width: 100%;
  max-width: 650px;
  margin-bottom: 50px;
}

.projects-info {
  margin-bottom: 10px;
}

.projects-stack {
  display: flex;
}

.project-image-wrapper {
  text-align: center;
}
.project-image {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.stack-item {
  padding: 5px 15px;
  border: 2px solid $primary-blue;
  margin-right: 10px;
  border-radius: 5px;
}

@media screen and (min-width: 768px) {
  .projects-container {
    flex-direction: column;
    // height: 100vh;
    padding: 0 120px;
  }
  .projects-card {
    width: 100%;
  }
}

@media screen and (min-width: 1000px) {
  .projects-container {
    flex-direction: row;
    // height: 100vh;
    // padding: 0 120px;
  }
}
