$primary-purple: #1d1d43;
$secondary-purple: #b495f8;
$lime-green: #a3e598;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}
